{
  "compact": false,
  "presets": [["env", { "targets": { "node": "6.10" } }]],
  "plugins": [
    "transform-decorators-legacy",
    ["transform-jsx", { "function": "ssml", "useVariables": true }],
    ["module-resolver", {
      "root": [ "./src", "./config" ],
      "extensions": [ "", ".js", ".jsx" ]}
    ]
  ]
}
